In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

sns.set()

In [16]:
df = pd.read_csv("data.csv").drop(["Unnamed: 0"], axis=1)
df.tail(1000)

,InvoiceDate,StockCode,Quantity,UnitPrice,CancelledOrder,InternationalOrders,TotalPrice,Week,Weekday,Day
215753,2011-12-08,22752,24,3.95,0,0,94.80,49,3,8
215754,2011-12-08,22753,51,0.21,0,0,10.71,49,3,8
215755,2011-12-08,22754,26,0.21,0,0,5.46,49,3,8
215756,2011-12-08,22755,48,0.21,0,1,10.08,49,3,8
215757,2011-12-08,22756,25,0.39,0,0,9.75,49,3,8
...,...,...,...,...,...,...,...,...,...,...
216748,2011-12-09,85099B,10,2.08,0,0,20.80,49,4,9
216749,2011-12-09,85099C,10,1.79,0,0,17.90,49,4,9
216750,2011-12-09,85123A,1,2.95,0,0,2.95,49,4,9
216751,2011-12-09,85152,48,1.85,0,1,88.80,49,4,9
216752,2011-12-09,85173,12,0.79,0,0,9.48,49,4,9

### InvoiceDate'i index olarak düzenleyip int ve float olmayan verileri categorical olarak çevirdik. Bunun nedeni veriyi öğrenirken farklı bir veri girişi ile hata almamak için

In [36]:
df2 = df.set_index("InvoiceDate")

In [40]:
df2 = pd.get_dummies(df2, drop_first = True)
df2.head()

,Quantity,UnitPrice,CancelledOrder,InternationalOrders,TotalPrice,Week,Weekday,Day,StockCode_10080,StockCode_10120,...,StockCode_90214P,StockCode_90214R,StockCode_90214S,StockCode_90214T,StockCode_90214U,StockCode_90214V,StockCode_90214W,StockCode_90214Y,StockCode_90214Z,StockCode_BANK CHARGES
InvoiceDate,,,,,,,,,,,,,,,,,,,,,
2010-12-01,60,0.85,0,1,51.00,48,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-12-01,2,0.85,0,0,1.70,48,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-12-01,5,0.85,0,0,4.25,48,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-12-01,1,2.95,0,0,2.95,48,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-12-01,20,5.65,0,0,113.00,48,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0

### Quantity sütunumuz tahmin etmek istediğimiz verimiz olduğu için X'e target verimiz dışındakileri attık y'ye ise sadece Quantity verimizi attık

In [41]:
X = df2.drop("Quantity", axis=1)
y = df2["Quantity"]

# Verimizi test_size'ını 0.2 olarak belirleyerek 80 e 20'lik bir split(ayırma) işlemi gerçekleştirdik 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [42]:
X_train.head()

,UnitPrice,CancelledOrder,InternationalOrders,TotalPrice,Week,Weekday,Day,StockCode_10080,StockCode_10120,StockCode_10123C,...,StockCode_90214P,StockCode_90214R,StockCode_90214S,StockCode_90214T,StockCode_90214U,StockCode_90214V,StockCode_90214W,StockCode_90214Y,StockCode_90214Z,StockCode_BANK CHARGES
InvoiceDate,,,,,,,,,,,,,,,,,,,,,
2011-07-12,12.50,0,0,25.00,28,1,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-08-31,1.45,1,0,8.70,35,2,31,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-12-05,0.39,0,0,1.95,49,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-10-28,0.79,0,0,0.79,43,4,28,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-06-12,2.08,0,1,49.92,23,6,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Linear Regression ile modelin eğitimini yaptık

In [43]:
reg = LinearRegression()

reg.fit(X_train, y_train)

LinearRegression()

### Elimizde olan verilerle %70'lik bir score'a ulaştık

In [44]:
reg.score(X_test, y_test)

0.7019030172273875

### Tahmin verilerini alabilmek için modelin test verisinden aldığı predict fonksiyonu ile tahmin listesi oluşturduk

In [45]:
y_pred = reg.predict(X_test)
y_pred

array([12.71826564,  8.37276664, 11.38537684, ..., 26.87235551,
        6.32766632, 21.67587988])

### Görülebilmesi için de harcama ve tahmin olmak üzere iki sütunlu bir dataframe oluşturum bunları içine attık

In [55]:
def undummify(df, prefix_sep="_"):
    cols2collapse = {
        item.split(prefix_sep)[0]: (prefix_sep in item) for item in df.columns
    }
    series_list = []
    for col, needs_to_collapse in cols2collapse.items():
        if needs_to_collapse:
            undummified = (
                df.filter(like=col)
                .idxmax(axis=1)
                .apply(lambda x: x.split(prefix_sep, maxsplit=1)[1])
                .rename(col)
            )
            series_list.append(undummified)
        else:
            series_list.append(df[col])
    undummified_df = pd.concat(series_list, axis=1)
    return undummified_df

In [58]:
df3 = undummify(X_test)

In [60]:
pred_df = pd.DataFrame(columns=["Satış Miktarı","tahmin"], index=X_test.index)

pred_df = df3
pred_df["Satış Miktarı"] = y_test
pred_df["tahmin"] = y_pred

pred_df.tail(10)

,UnitPrice,CancelledOrder,InternationalOrders,TotalPrice,Week,Weekday,Day,StockCode,Satış Miktarı,tahmin
InvoiceDate,,,,,,,,,,
2011-03-21,0.39,0,0,0.78,12,0,21,22066,2,18.812601
2011-02-09,5.95,0,0,11.90,6,2,9,90070,2,-0.968658
2011-09-28,0.85,0,0,0.85,39,2,28,84006,1,9.704613
2010-12-16,1.25,0,0,30.00,50,3,16,84519B,24,16.087280
2011-09-27,2.10,0,1,12.60,39,1,27,22381,6,9.166163
2011-06-22,1.65,0,0,1.65,25,2,22,23089,1,4.038481
2010-12-06,1.65,0,0,19.80,49,0,6,22310,12,12.578201
2011-04-13,0.85,0,0,10.20,15,2,13,84970S,12,26.872356
2011-07-10,1.45,0,0,5.80,27,6,10,23147,4,6.327666
2010-12-14,1.65,0,0,41.25,50,1,14,21584,25,21.675880